<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!--Multi select-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>

    <!--ColorBar-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/colorbar_style.css') }}">
    <script src="{{url_for('static', filename='js/colormap.js')}}"></script>
    <script src="{{url_for('static', filename='js/colorbar.js')}}"></script>
    
    <!--My code-->
    <script src="{{url_for('static', filename='js/updateMap.js')}}"></script>
    <script src="{{url_for('static', filename='js/fillSelect.js')}}"></script>
    <script src="{{url_for('static', filename='js/polygonAddColor.js')}}"></script>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/general_style.css') }}">


</head>
<body>
    <div id="navbar"></div>

<div style="display: flex; height: 90vh; width: 95vw; justify-content: space-between;">
    <div id="buttons" style="width: 25%; height: 100vh;">
        <div id="base-select-container" style="width: 95%;">
            <label for="base-select" id="base-select-label">Matéria-Prima:</label>
            <select style="width: 95%;" name="base-select" id="base-select"></select>
        </div>

        <div style="width: 20vw;">
            <label for="point-select">Pontos:</label>
            <select name="point-select" id="point-select" multiple></select>
        </div>

        <div style="width: 20vw;">
            <label for="arrow-select">Setas:</label>
            <select name="arrow-select" id="arrow-select" multiple></select>
        </div>

        <button id="update-map-btn" onclick="updateBtnClick()">Atualizar Mapa</button>
        <br>
        <img src="{{url_for('static', filename='images/logo_fapesp.png')}}" style="height: 10%; margin:10px"/>
        <p>Processo 2023/05420-0</p>
    </div>

    <div id="map-container" style="height: 80vh; width: 70%;"></div>
</div>

    <script>
        let scriptRoot = {{ request.script_root|tojson }};
        
        fillBaseSelect(scriptRoot);

        let pointKeeper = new ValueKeeper();
        fillPointSelect(scriptRoot, pointKeeper);

        let arrowKeeper = new ValueKeeper();
        fillArrowSelect(scriptRoot, arrowKeeper);

        async function fetchGeojson(scriptRoot, route, valueArray) {
            var url = scriptRoot + route + "?";
            valueArray.forEach(value => url = url + "value=" + value.toString() + "&")
            let geojson = await fetch(url);
            geojson = await geojson.json();
            return geojson
        }

        async function updateBtnClick() {
            let baseSelect = document.getElementById("base-select");

            let polygonValue = baseSelect.value;
            let pointValues = pointKeeper.values;
            let arrowValues = arrowKeeper.values;

            var polygonGeojson = await fetchGeojson(scriptRoot, "/polygon-geojson", [polygonValue]);

            let pointGeojson;
            let arrowGeojson;

            if ( pointValues.length > 0) {
                pointGeojson = await fetchGeojson(scriptRoot, "/point-geojson", pointValues);
            } else {
                pointGeojson = {"type": "FeatureCollection", "features": []};
            }
            
            if (arrowValues.length > 0) {
                arrowGeojson = await fetchGeojson(scriptRoot, "/arrow-geojson", arrowValues);
            } else {
                arrowGeojson = {"type": "FeatureCollection", "features": []};
            }
        

            let colorbarTitle = `${polygonGeojson.features[0].properties.valueTitle} (${polygonGeojson.features[0].properties.valueUnit})`

            let cmap = getGeojsonCmap(polygonGeojson, ["#e8f1ff", "#05015c"], "hex");
            polygonGeojson = fillGeojsonColor(polygonGeojson, cmap);
            let center = [polygonGeojson.metadata.center_lat, polygonGeojson.metadata.center_lon];
            let zoomLevel = polygonGeojson.metadata.zoom_level;
            updateMap(
                "map-container",
                colorbarTitle, 
                cmap, 
                polygonGeojson, 
                arrowGeojson, 
                pointGeojson, 
                center, 
                zoomLevel
            )
        }
    </script>
</body>
</html>